
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    /* background-image: url('../images/home_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* transition: background-image 1s ease-in-out; */
    font-family: 'Times New Roman', serif;
    /* Optional font style */
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

.home_page_flower {
    margin-top: 5%;
    text-align: center;
}

.home_page_flower img {
    height: 100px;
    width: 100px;
    animation: opacityAnimation 4s ease-in-out forwards;
    opacity: 0;
}

.logo-mage img {
    width: 100px;

}
.logo-mage h4{
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
  
}

.brand-tagline {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.navbar {
    overflow: hidden;
    background-color: #333;  
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000000;
    color: #ddd;
  }
  
  .navbar a.active {
    background-color: #000000;
    color: white;
  }
  
  .navbar .icon {
    display: none;
  }

/* ABOUT US PAGE DESIGN  */
.social_medias_icons{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.social_medias_icons li{
  float: left;
  padding: 14px 16px;
}




