body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust this to fit your needs */
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: white;
    text-align: center;
}
